<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasics">

        <activity
            android:name=".Firebase.RealDBActivity"
            android:exported="false" />
        <activity
            android:name=".Permission.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Webview.WebActivity"
            android:exported="false" />
        <activity
            android:name=".Bottomnavigation.BottomLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerviewTest.RecyclertestActivity"
            android:exported="false" />
        <activity
            android:name=".Drawer.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".SlashScreen.SlashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout.ClassworkActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout.Constraint_Layout3Activity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout.Constraint_Layout2Activity"
            android:exported="false" />
        <activity
            android:name=".Recyler_view.RecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout.ConstriantLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".RelativeLayout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDatabase.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.RecyclerDBActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />
    </application>

</manifest>